h1,p{color: #ffffff; font-family: Arial; text-align: center;}
img{width: 40%; margin-left: auto; margin-right:auto; display: block;; }
body {
    background-image: url('https://www.krea.ai/api/img?f=webp&i=https%3A%2F%2Ftest1-emgndhaqd0c9h2db.a01.azurefd.net%2Fimages%2F388d09df-30c2-4b93-89d8-b0828b2e1cc8.png'); /* Шлях до зображення */
    background-size: 200%; /* Зображення покриває весь фон */
    background-position: center; /* Центрує зображення */
    background-repeat: no-repeat; /* Вимикає повторення зображення */
}
